body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  min-height: 100vh;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  width: 90%;
  max-width: 1000px;
  margin-bottom: 50px;
}
#playAudioButton {
  display: none; /* Botão será exibido apenas se necessário */
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#playAudioButton:active {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

.gallery img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h1 {
  font-family: "Comic Sans MS", cursive, sans-serif; /* Fonte Comic Sans */
  color: white; /* Cor do texto branca */
  text-shadow: -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black,
    1px 1px 0px black; /* Contorno preto nas letras */
  padding: 10px; /* Espaçamento interno (opcional) */
}
