/* styles.css */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto; /* Permite rolagem quando o conteúdo excede o tamanho da tela */
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8a2be2
  );
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Adiciona suporte para rolagem vertical */
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto; /* Permite rolagem dentro do main, se necessário */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%; /* Permite a galeria ocupar toda a largura disponível */
  height: auto; /* Permite altura dinâmica */
  box-sizing: border-box; /* Inclui padding e borda no cálculo da largura e altura */
}

.gallery-item {
  position: relative;
  width: calc(33.333% - 20px); /* Três itens por linha com espaçamento */
  padding-top: 33.333%; /* Mantém a proporção quadrada */
  margin: 10px;
  box-sizing: border-box; /* Inclui margem no cálculo da largura total */
}

.gallery-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  visibility: hidden;
}

/* Ajustes para telas pequenas */
@media (max-width: 768px) {
  .gallery-item {
    width: calc(50% - 20px); /* Dois itens por linha em dispositivos móveis */
    padding-top: 50%; /* Mantém a proporção quadrada */
  }
}

@media (max-width: 480px) {
  .gallery-item {
    width: calc(100% - 20px); /* Um item por linha em telas muito pequenas */
    padding-top: 100%; /* Mantém a proporção quadrada */
  }
}

button {
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8a2be2
  );
  color: white;
  font-weight: 900;
  text-shadow: 2px 2px 0px black;
}

p {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
  visibility: hidden;
}
